{% extends 'master/base.html' %}

{% block 'title' %} Home {% endblock %}
{% block 'body' %}

 <div class="container">
    {% include 'partials/all_button.html' %}

  <div class="alert alert-info">
   <h5>Add Category</h5>
      {{id}}
     <form method="post" action="{% url 'income_add' %}">
       {{cform}}
      {% csrf_token %}
         <input type="hidden" name="what" value="cat">
      <br/>
     <button type="submit" class="btn btn-success" style="float:right;">Save</button>
     </form>
  </div>
   <div class="row">
    <form method="post" action="{% url 'income_add' %}">
      {{form}}
       {% csrf_token %}
        <input type="hidden" name="what" value="income">
     <button type="submit" class="btn btn-primary">Save</button>
     </form>
   </div>

 </div>
{% endblock %}
