{% extends 'master/base.html' %}

{% block 'title' %} Signup {% endblock %}

{% block 'body' %}
  <div class="container">
        <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card signupcard">
                        <form method="post" action="{% url 'signup' %}">
                            {{form}}
                            {% csrf_token %}
                            <br/>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
        </div>
  </div>
{% endblock %}
